@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}
body {
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Cairo", sans-serif;
  z-index: 1;
}

.hero-wrapper {
  background-image: url(./images/heroBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  position: relative;
}

.nav-logo {
  width: 8rem;
  height: 8rem;
}
.navbar {
  position: relative;
}

.nav-expander {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.719);
  z-index: 9;
  text-align: center;
  width: 100%;
  padding: 4rem 0;
}

li {
  list-style: none;
  margin-top: 25px;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#bars {
  font-size: 2rem;
  align-items: center;
  width: 40px;
}

.hero-content {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.hero-content h1 {
  font-size: 1.9rem;
  color: seashell;
  text-shadow: black 1px 1px;
}
.hero-content p {
  font-size: 3.1rem;
  color: #a55fc1;
  font-weight: 800;
  text-shadow: black 1px 1px;
}
.mouseField {
  display: none;
}

.exclusive-container {
  margin: auto auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eec0c6;
  background-image: linear-gradient(350deg, #94a8c0 34%, #e2cfc5 74%);
}
.exclusive-container h1 {
  margin: 2rem auto 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  color: #4394ff;
  text-shadow: black 1px 1px;
}
.exclusive-cards {
  max-width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.leftSide {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: auto auto;
}
.rightSide {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: auto auto;
}
.ex-card {
  margin: 0.2rem 1rem;
  padding: 1rem;
  width: 90%;
  border: rgb(3, 183, 255) 2px solid;
  align-items: center;
  border-radius: 2rem;
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #c04eec;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ex-images {
  width: 70px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.ex-card h3 {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  border-bottom: 1px black solid;
  font-family: "Cairo", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.856) 1px 1px;
}
.ex-card p {
  position: relative;
  width: 100%;
  font-family: "Cairo", sans-serif;
  color: black;
}

.ex-card > span {
  font-size: larger;
  font-weight: 700;
  border: rgba(96, 121, 190, 0.6) 4px solid;
  background-color: rgba(96, 121, 190, 0.6);
  border-radius: 15px;
  color: #5fff2f;
  text-shadow: black 0.8px 0.8px;
  font-family: "Poppins", sans-serif;
}
.otherDestinations {
  background-image: url(./images/solidBackground.jpg);
  background-size: cover;
  color: cornsilk;
  max-width: 100%;
  margin: 0;
  height: 100%;
}
.otherDestinations h1 {
  color: rgb(97, 97, 97);
  display: flex;
  font-size: 3rem;
  justify-content: center;
  text-shadow: rgb(150, 150, 150) 1px 1px;
  border-top: black 2px dotted;
}

.first-row,
.second-row,
.third-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cards {
  width: 30%;
  padding: 0.8rem;
  margin: 0.5rem 2px;
  background-color: rgba(97, 97, 97, 0.3);
  font-size: 1rem;
  font-weight: 700;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards:hover {
  background-color: rgba(97, 97, 97, 0.8);
}

.cards img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cards span {
  color: chartreuse;
  font-size: 1.1rem;
  border: solid 1px black;
  border-radius: 30%;
  padding: 0.2rem;
  background-color: rgba(0, 0, 0, 0.363);
}

.bookUp {
  background-color: #aff6cf;
  background-image: linear-gradient(330deg, #aff6cf 0%, #9f98e8 74%);
  width: 100%;
  height: 90vh;
}

.bookUp h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #5fff2f;
  text-shadow: black 1px 1px;
  padding: 4rem 4rem 0rem 4rem;
}
.form-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  padding: 1rem;
}
.option-target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  text-shadow: #b3cdd1 0.5px 0.3px;
  font-size: 2rem;
}

.option-target select {
  padding: 1rem;
  width: 200px;
  border-radius: 30px;
  border: none;
  color: #c04eec;
  outline: none;
  font-size: 1.2rem;
  margin: auto;
}
.option-target option {
  padding: 0.4rem;
  width: 100px;
}
.cupon input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  color: #a55fc1;
  width: 150px;
}
.cupon input::placeholder {
  color: #c04eec;
  text-align: center;
  font-size: 1rem;
}
.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  margin-top: 10%;
  width: 300px;
  padding: 1rem;
  border: rgba(96, 121, 190, 0.4) 3px dotted;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.form-top h1 {
  margin: 1rem auto;
  color: #5fff2f;
  text-shadow: black 0.5px 0.5px;
}
.form-top a {
  margin: auto;
  text-align: center;
  color: #03ff63;
  text-shadow: black 0.5px 0.5px;
}
.pricing button {
  padding: 1rem;
  font-size: 1.8rem;
  background-color: rgba(61, 61, 61, 0.849);
  border-radius: 15px;
}

.aboutUs {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./images/beachTable.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  padding-top: 6rem;
}
.aboutUs h1 {
  color: #4394ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}
.office {
  width: 100%;
  height: 100%;
}

.AboutUsText {
  margin: 2rem auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #1c5fb6;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.companyLogo {
  display: flex;
  flex-wrap: wrap;
  width: 33.3%;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer ul li {
  margin: 1rem 0.5rem;
  flex-direction: row;
}
footer ul a {
  color: #4394ff;
  font-size: 1rem;
}
.newsLetterField {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer label {
  display: flex;
}
footer input {
  display: flex;
  border-radius: 10px;
  text-align: center;
  outline: none;
}

@media (min-width: 768px) {
  .hero-wrapper {
    height: 100vh;
  }
  .bookUp {
    height: 100vh;
  }
  .office {
    width: 50%;
    height: 50%;
    margin: 1.5rem auto;
  }
  .companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.363);
  }
  .companyLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 125px;
    height: 125px;
  }
  #bars {
    font-size: 2.8rem;
  }
  .nav-logo {
    width: 13rem;
    height: 10rem;
  }
  .cupon input {
    width: 250px;
  }
  .cupon input::placeholder {
    font-size: 1.6rem;
  }
  .option-target {
    font-size: 2.4rem;
  }

  .option-target select {
    width: 300px;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .option-target option {
    padding: 0.4rem;
    width: 100px;
  }

  footer ul a {
    font-size: 1.4rem;
  }

  footer label {
    font-size: 1.8rem;
    margin-right: 10px;
  }
  footer input {
    width: 40%;
    font-size: 1.2rem;
    margin-left: 10px;
  }
}
@media (min-width: 1024px) {
  .hero-wrapper {
    height: 100vh;
  }
  .exclusive-cards {
    max-width: 100%;
    height: 100%;
    display: flex;
  }

  .ex-card {
    width: 300px;
  }
  .ex-images {
    width: 120px;
    height: 120px;
    border-radius: 30%;
  }

  .ex-card h3 {
    position: relative;
    font-size: 2rem;
  }

  .ex-card > span {
    font-size: 1.8rem;
  }
  #bars {
    font-size: 2.8rem;
    align-items: center;
  }
  .nav-logo {
    width: 13rem;
    height: 10rem;
  }
  .nav-expander {
    width: 100%;

    padding: 10rem;
    border-radius: 20px;
  }
  .pricing {
    margin-top: 5%;
  }
  .otherDestinations {
    padding: 2rem;
  }
  .companies {
    justify-content: space-evenly;
  }
  footer ul {
    justify-content: space-evenly;
  }
  .mouseField {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    right: 50%;
  }
  .mouseField img {
    width: 150px;
    height: 150px;
    animation: mouseScroll 3s ease-in-out infinite;
  }

  @keyframes mouseScroll {
    0% {
      opacity: 0.2;
      transform: translateY(0%);
    }
    25% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    80% {
      opacity: 0.6;
    }
    100% {
      transform: translateY(50%);
      opacity: 0.2;
    }
  }
}
@media (min-width: 1920px) {
  .nav-expander {
    position: absolute;
    top: 0rem;
    right: 16rem;
    width: 20%;
    padding: 2rem;
    border-radius: 20px;
  }
}
